@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.cuerp{
    margin-top: 10%;
    margin-left: 16%;
    width: 80%;

}
.prr{
   color: black;
   font-size: 30px;
   text-align: center; 
}
.tbinp{
    margin-left: 10%;
    width: 80%;
    text-align: center;
}

.ifp{
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}

