@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.Header{
    margin: 0%;
    padding: 0%;
     width: 100%;
     height: 113px;
     overflow: hidden;
     position: block;
     background: #8d0909;
     box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
     top: 0;
 }
 .txt2{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: black;
}
.txt{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}
 .pindx{
    font-family: 'Open Sans', sans-serif;
    float: left;
    margin: 34px 0 0 0;
    color: white;
    padding: 0 0 0 20PX;
    font-size: 30px;
}

/*form*/

.inptxt {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
.inptxt:focus {
    border: 3px solid #555;
  }

.tabsol{
  margin: 150px auto 0px auto;
    width:  50%;
   
   /*background-color: #dbd6d6;*/
   }
.lbll{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
 }
.tddd{
  padding: 15px;
  text-align: center;
}
.btnsb{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  
 }

 input[type=submit]:hover{
    background-color: #4CAF50;
  color: white;
 }

 .form{
  width: 100%;
  height: 100%;
  margin-top: 0%;
 }

 .pinci{
  color: #fff;
  float: right;
  padding: 20px;
  margin-right: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;

 }